body {
    /* padding-top: 5rem; */
    background: #d6ffbb;
    color: #444;
    font-family: "Open Sans", sans-serif;
}

/* .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
} */

a {
    color: #50d8af;
    text-decoration: none;
    transition: 0.5s;
}
  
a:hover,
a:active,
a:focus {
    color: #51d8af;
    outline: none;
    text-decoration: none;
}
  
p {
    padding: 0;
    margin: 0 0 30px 0;
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 10px 0;
    padding: 0;
}

#header {
    height: 80px;
    transition: all 0.5s;
    z-index: 997;
    background: #fff;
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

#header #logo h1 {
    font-size: 42px;
    margin-top: 10px;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
  
#header #logo h1 a {
    color: #0c2e8a;
}
  
#header #logo h1 a span {
    color: #50d8af;
}

@media (max-width: 768px) {
    #header {
      height: 60px;
    }
  
    #header #logo h1 {
      font-size: 34px;
    }
  
    #header #logo img {
      max-height: 40px;
    }
}

.scrolled-offset {
    margin-top: 90px;
}

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}
  
.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #444;
    white-space: nowrap;
    transition: 0.3s;
}
  
.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}
  
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #50d8af;
}
  
  
@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 60vh;
    position: relative;
    background: url("../img/hero-carousel/1.jpg") no-repeat;
    background-size: cover;
    padding: 0;
}
  
#hero .hero-content {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
  
#hero .hero-content h2 {
    color: #0c2e8a;
    margin-bottom: 30px;
    font-size: 64px;
    font-weight: 700;
}
  
#hero .hero-content h2 span {
    color: #50d8af;
    text-decoration: underline;
}
  
@media (max-width: 767px) {
    #hero .hero-content h2 {
      font-size: 34px;
    }
}
  
#hero .hero-content .btn-get-started,
#hero .hero-content .btn-projects {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
}
  
#hero .hero-content .btn-get-started {
    background: #0c2e8a;
    border: 2px solid #0c2e8a;
}
  
#hero .hero-content .btn-get-started:hover {
    background: none;
    color: #0c2e8a;
}
  
#hero .hero-content .btn-projects {
    background: #50d8af;
    border: 2px solid #50d8af;
}
  
#hero .hero-content .btn-projects:hover {
    background: none;
    color: #50d8af;
}
  
#hero .hero-slider {
    z-index: 8;
    height: 70vh;
}
  
#hero .hero-slider::before {
    content: "";
    background-color: rgba(255, 254, 254, 0.6);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 7;
}
  
#hero .hero-slider .swiper-slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition-property: opacity;
}

